.title {
  color: $black;
  font-size: 48px;
  line-height: 1.2;
  @include media-breakpoint-up(lg) {
    font-size: 50px;
  }
}

.icon {
  height: 30px;
  display: inline;
  margin-top: -5px;
  margin-right: 5px;
  /*filter: invert(38%) sepia(44%) saturate(1871%) hue-rotate(219deg) brightness(100%) contrast(103%);*/
}

.text-white {
  color: #fff !important;
}

@media only screen and (max-width: 992px) {
  .center-everything {
    text-align: center;
  }

  .icon {
    height: 25px;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .text-white {
    font-size: 0.9em;
  }
}

.icon-sm {
  height: 24px;
  margin-top: 0;
  margin-bottom: 5px;
  margin-right: 5px;
}