---
layout: default
bodyClass: "page-home-automation"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <h1 class="title">{{page.title}}</h1>
  <div class="row justify-content-start">
      <div class="col-lg-6 col-md-12">
          <h2 class="mb-2">Toepassingen</h2>

          <div class="card" style="border: 1px solid #dee2e6; padding: 10px; border-radius: 10px; margin: 20px 10px;">
            <div class="card-body">
              <h3 class="card-title"><img src="/images/illustrations/lightbulb-regular.svg" class="icon-sm"> Verlichting</h3>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>

          <div class="card" style="border: 1px solid #dee2e6; padding: 10px; border-radius: 10px; margin: 20px 10px;">
            <div class="card-body">
              <h3 class="card-title"><img src="/images/illustrations/lock-solid.svg" class="icon-sm"> Alarmsysteem</h3>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>

          <div class="card" style="border: 1px solid #dee2e6; padding: 10px; border-radius: 10px; margin: 20px 10px;">
            <div class="card-body">
              <h3 class="card-title"><img src="/images/illustrations/droplet-solid.svg" class="icon-sm"> Water beregening</h3>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <h2 class="mb-2">Benodigdheden</h2>

        <table class="table">
          <thead>
            <tr>
              <th>Product</th>
              <th>Toepassing</th>
              <th>Prijs</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Shelly</td>
              <td><img src="/images/illustrations/lightbulb-regular.svg" class="icon-sm"> <img src="/images/illustrations/droplet-solid.svg" class="icon-sm"></td>
              <td>&euro;&euro;</td>
            </tr>
            <tr>
              <td>Bewegingsensor</td>
              <td><img src="/images/illustrations/lightbulb-regular.svg" class="icon-sm"> <img src="/images/illustrations/lock-solid.svg" class="icon-sm"></td>
              <td>&euro;</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>

  <h2 class="mt-4 mb-2">Onze vertrouwde leveranciers</h2>
  <div class="row justify-content-center">
    <div class="col-4" style="text-align: center; Margin: 0 auto; padding-top: 20px; padding-bottom: 20px;">
      <img src="/images/aqara-logo-blue.png" width="50%">
    </div>
    <div class="col-4" style="text-align: center; Margin: 0 auto; padding-top: 20px; padding-bottom: 20px;">
      <img src="/images/elm-it-logo.png" width="50%">
    </div>
    <div class="col-4" style="text-align: center; Margin: 0 auto; padding-top: 20px; padding-bottom: 20px;">
      <img src="/images/frient-logo.png" width="50%">
    </div>
  </div>


  <h2 class="mt-4 mb-2">Maatwerk</h2>
  <p class="lead">Al onze oplossingen zijn volledig maatwerk, inclusief installatie & configuratie. Contacteer ons voor een passende offerte.</p>
  <div class="row justify-content-center">
    <div class="col-auto">
      <a class="button button-primary" href="{{ "contact" | relative_url }}">Neem contact op</a>
    </div>
  </div>
</div>

<!--
<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
      <div class="col-12 col-md-8">
          <div class="service service-single">
              <h1 class="title">{{page.title}}</h1>
              <div class="content">{{content}}</div>
          </div>
      </div>
  </div>
</div>
-->