---
layout: default
bodyClass: "page-home-automation"
---

<div class="intro container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12">
      {{ content }}
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pb-6 pb-md-10">
    <div class="row justify-content-start">
      {% for service in site.home-automation-intro %}
      <div class="col-12 col-md-6 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              {% if service.icon %}<i class="{{ service.icon }} icon"></i>{% endif %}
              <a href="/home-automation/{{ service.permalink }}">{{ service.title }}</a>
            </h2>
            {{ service.content }}
            <p><a href="/home-automation/{{ service.permalink }}">&raquo; Lees meer</a></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
