---
layout: default
bodyClass: "page-home-automation"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <h1 class="title"><i class="{{ page.icon }}" class="icon-sm"></i> {{ page.title }}</h1>

  <p>{{ page.content }}</p>

  <div class="row justify-content-start">
      <div class="col-lg-6 col-md-12">
          <h2 class="mb-2">Mogelijkheden</h2>

          {% for application in site.data.home-automation-options[page.slug] %}
          <div class="card" style="border: 1px solid #dee2e6; padding: 10px; border-radius: 10px; margin: 20px 10px;">
            <div class="card-body">
              <h3 class="card-title"><i class="{{ application.icon }}" class="icon-sm"></i> {{ application.name }}</h3>
              <p class="card-text">{{ application.text }}</p>
            </div>
          </div>
          {% endfor %}
      </div>
      <div class="col-lg-6 col-md-12">
        <h2 class="mb-2">Producten</h2>

        <table class="table">
          <thead>
            <tr>
              <th>Product</th>
              <th>Toepassing</th>
              <th>Prijs</th>
            </tr>
          </thead>
          <tbody>
            {% for supply in site.data.home-automation-supplies[page.slug] %}
            <tr>
              <td>{{ supply.product }}</td>
              <td>{% for icon in supply.application %}<i class="{{ icon }}" class="icon-sm"></i> {% endfor %}</td>
              <td>{{ supply.price }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>

  {% capture image_filter %}images/home-automation/{{ page.slug }}{% endcapture %}
  <div class="row justify-content-center">
    {% for image in site.static_files %}{% if image.path contains image_filter %}
      <div class="col-md-6" style="text-align: center; margin: 0 auto; padding-top: 20px; padding-bottom: 20px;">
        <img src="{{ image.path }}" width="95%" style="border-radius: 5px; filter: drop-shadow(5px 5px 15px rgba(0,0,0,0.5));" />
      </div>
    {% endif %}{% endfor %}
  </div>

  <h2 class="mt-4 mb-2">Onze vertrouwde leveranciers</h2>
  <div class="row justify-content-center">
    <div class="col-4" style="text-align: center; margin: 0 auto; padding-top: 20px; padding-bottom: 20px;">
      <img src="/images/aqara-logo-blue.png" width="50%">
    </div>
    <div class="col-4" style="text-align: center; margin: 0 auto; padding-top: 20px; padding-bottom: 20px;">
      <img src="/images/elm-it-logo.png" width="50%">
    </div>
    <div class="col-4" style="text-align: center; margin: 0 auto; padding-top: 20px; padding-bottom: 20px;">
      <img src="/images/frient-logo.png" width="50%">
    </div>
  </div>


  <h2 class="mt-4 mb-2">Maatwerk</h2>
  <p class="lead">Al onze oplossingen zijn volledig maatwerk, inclusief installatie & configuratie. Contacteer ons voor advies en een passende offerte.</p>
  <div class="row justify-content-center">
    <div class="col-auto">
      <a class="button button-primary" href="{{ "contact" | relative_url }}">Neem contact op</a>
    </div>
  </div>
</div>

<!--
<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
      <div class="col-12 col-md-8">
          <div class="service service-single">
              <h1 class="title">{{page.title}}</h1>
              <div class="content">{{content}}</div>
          </div>
      </div>
  </div>
</div>
-->